@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply text-white;
    background-color: #FD0001;
  }

  .btn-text {
    @apply bg-transparent;
    color: #1A1A1A;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border px-3 py-1 rounded-lg tracking-tight;
    border-color: rgba(26, 26, 26, 0.1);
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter text-transparent bg-clip-text;
    background-image: linear-gradient(to bottom, #1A1A1A, #FD0001);
  }

  .section-des {
    @apply text-center text-[22px] leading-[30px] tracking-tight;
    color: #1A1A1A;
  }

  .section-heading {
    @apply max-w-[540px] mx-auto;
  }

  .card {
    @apply p-10 rounded-3xl border shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
    border-color: #E5E5E5;
    border-width: 0.5px;
  }
}
